<div class="main-content">
  <div class="container-fluid">
    <mat-tab-group>
      <mat-tab label="Estatus">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons"></i>
                </div>
                <h4 class="card-title">Segimiento de archivos</h4>
              </div>
              <div class="card-body">
                <div class="row">

                  <div class="col-lg-8 col-md-8">
                    <div class="card">
                      <div class="card-header card-header-success">
                        <h3 class="card-title">Historico</h3>
                        <p class="card-category">Ultimas 5 aplicaciones usadas en los ultimos 5 minutos</p>
                      </div>
                      <div class="card-body table-responsive">
                        <table class="table table-hover">
                          <thead class="text-success">
                            <th>Periodo</th>
                            <th>fecha de entrega</th>
                            <th>en_orden/atrazado/rechazado/completado</th>
                            <th>detalles</th>
                          </thead>
                          <tbody>
                            <tr>
                              <td>semanal</td>
                              <td>15-10-2019</td>
                              <td>Rechazado</td>
                              <td>Ver detalles</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-4 ml-auto mr-auto">
                    PANEL SUBIR ARCHIVOS
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Configuración"> Con </mat-tab>
    </mat-tab-group>

  </div>
</div>