<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.hilcoterracota.com.mx/">
                        Terracota
                    </a>
                </li>
                <li>
                    <a href="https://www.hilcoterracota.com.mx/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.hilcoterracota.com.mx/">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.hilcoterracota.com.mx//license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="https://www.hilcoterracota.com.mx/" target="_blank">Administradora de Activos Terracota</a>, S.A. de C.V.
        </div>
    </div>
</footer>
