<div class="login-page" filter-color="black"
  style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
       
        <form action="" class="form ng-untouched ng-pristine ng-valid" method="" novalidate="">
          <div class="card card-login">
            <mat-card class="box mat-elevation-z16">

              <mat-card-header>

              </mat-card-header>

              <mat-card-content>
                <div class="from-container">
                  <mat-form-field [formGroup]="loginform">
                    <span matPrefix>
                      <mat-icon matTooltip="primera sección de e-mail o usuario asignado">person</mat-icon> &nbsp;
                    </span>
                    <input type="text" matInput placeholder="Usuario" formControlName="username">
                  </mat-form-field>

                  <mat-form-field [formGroup]="loginform">
                    <span matPrefix>
                      <mat-icon>https</mat-icon> &nbsp;
                    </span>

                    <input [type]="password_type" matInput placeholder="Contraseña" formControlName="password"
                      (keyup.enter)="login()">

                    <button mat-button matSuffix (click)="showVisibilitPassword()">
                      <mat-icon matTooltip="Mostrar contraseña" *ngIf="visibility_icon">visibility</mat-icon>
                      <mat-icon matTooltip="Ocultar contraseña" *ngIf="!visibility_icon">visibility_off</mat-icon>
                    </button>

                  </mat-form-field>
                </div>

              </mat-card-content>

              <mat-card-actions align="end">
                <button mat-raised-button color="primary" (click)="login()"
                  [disabled]="loginform.status == 'INVALID'">Iniciar sesión</button>
              </mat-card-actions>

            </mat-card>
          </div>
        </form>
        <div class="row">
            <img src="./assets/img/logo.png" width="50%" height="50%" srcset="">
            <img src="./assets/img/tecmoin-logo.png" width="50%" height="50%" srcset="">
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 ml-auto mr-auto" style="text-align: center;color: white;">
        <p style="width: 100%;">Administradora de Activos Terracota, S.A. de C.V. Copyright © 2013 - {{year_now}}.
          Derechos
          reservados.</p>
      </div>
    </div>
  </div>
</div>